@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

body{
    background-color: black;
    font-family: "Raleway";
    color: white;
}
#navbar{
    text-align: center;
}
#navbar li{
    list-style-type: none;
    display: inline-flex;
    margin-right: 15px;
    border-bottom-color: #695DD8;
}
#navbar li a{
    text-decoration: none;
    color: white;
}
/*.UnderlineNav-item.selected, .UnderlineNav-item[aria-current]:not([aria-current=false]), .UnderlineNav-item[role=tab][aria-selected=true]*/
#home{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5% 0 10% 0;
}
h1{
    font-weight: 600;
    font-size: 80px;
    /*text-align: center;*/
    margin-bottom: 0px;
}
.home-div{
    width: 50%;
    margin-left: 8%;
    /*text-align: center;*/
}
#occupation{
    font-weight: 400;
    margin-top: 0px;
    font-size: 32px;
}
#download_cv{
    background-color: #695DD8;
    color: white;
    font-family: "Raleway";
    height: 40px;
    font-size: 17px;
    border-radius: 10px;
    border-style: none;
    margin-top: 2%;
}
#circle-img{
    display: block;
    border-radius: 60%;
    overflow: hidden;
    margin-right: 10%;
    width: 450px;
    height: 490px;
}
#dandsimg{
    width: 100%;
}
#about-me{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5% 0 10% 0;
}
#block{
    background-color: #695DD8;
    width: 80%;
    padding: 2%;
    border-radius: 10px;
}
h2{
    font-weight: 500;
}