@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

body{
    background-color: black;
    font-family: "Raleway";
    color: white;
}
#navbar{
    text-align: center;
}
.line{
    text-decoration: none;
    color: #ffffff;
    margin: 20px 20px 0 0;
    border-bottom-color: #695DD8;
    display: inline-flex;
}
.line:hover{
    box-shadow: 0 2px 0 0 #695DD8;
    transition: transform .3s ease;
    transform-origin: center center;
    
}
/*.line:after{
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #695DD8;
}*/
/*.line::after{
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: -10px;
    transform: scale(1);
    transform-origin: center center;
    background-color: #695DD8;
    transition: transform .3s ease;
}*/
#home{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5% 0 10% 0;
}
h1{
    font-weight: 600;
    font-size: 80px;
    /*text-align: center;*/
    margin-bottom: 0px;
}
.home-div{
    width: 50%;
    margin-left: 8%;
    /*text-align: center;*/
}
#occupation{
    font-weight: 400;
    margin-top: 0px;
    font-size: 32px;
}
#download_cv{
    background-color: #695DD8;
    color: white;
    font-family: "Raleway";
    height: 40px;
    font-size: 17px;
    border-radius: 10px;
    border-style: none;
    margin-top: 2%;
}
#circle-img{
    display: block;
    border-radius: 60%;
    overflow: hidden;
    margin-right: 10%;
    /*width: 80%;
    height: 92%;*/
    width: 450px;
    height: 490px;
}
#dandsimg{
    width: 100%;
}
#about-me{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5% 0 10% 0;
}
#block{
    background-color: #695DD8;
    width: 80%;
    padding: 2%;
    border-radius: 10px;
}
h2{
    font-weight: 500;
}
#project{
    align-items: center;
    margin: 5% 0 10% 0;
    justify-content: center;
    text-align: center;
}
#pi{
    width: 880px;
    height: 550px;
    margin-top: 20px;
}
#skills-container{
    display: grid;
    text-align: center;
}
.line-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: white;
    border-radius: 10px;
    width: 250px;
    height: 220px;
    margin: 30px 30px 0 0;
}
.box:hover{
    box-shadow: 15px 15px 0px 0px #695DD8;
    transition: 0.2s;
}
#jsimg{
    margin-top: 30px;
    height: 160px;
    width: 160px;
}
#htmlimg{
    margin-top: 30px;
    height: 170px;
    width: 170px;
}
#cssimg{
    margin-top: 35px;
    height: 150px;
    width: 150px;
}
#gitimg{
    margin-top: 35px;
    height: 150px;
    width: 150px;
}
#contact{
    display: grid;
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
}
#title-cont{
    margin-bottom: 40px;
}
#box-message{
    background-color: #ffffff;
    color: black 25%;
    width: 940px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 15px 15px 0px 0px #695DD8;
    display: inline-flex;
}

form{
    width: 800px;
}

#message{
    border-style: none;
    width: 80%;
    font-family: "Raleway";
    font-size: 20px;
    margin: 28px 0px 28px;
}
#sm{
    margin-top: 50px;
}
.sm{
    height: 60px;
}
.sm2{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#send{
    height: 30px;
    margin: 25px 28px 28px 28px;
}